body {
	background-color: #8b6464;
	font-family: Arial, sans-serif;
	background-image: url(fondo\ imagen.jpg);
}
#main-header {
	background: #000;
	color: white;
	height: 100px;
	

}	
	#main-header a {
		color: white;
	}

/*
 * Logo
 */
#logo-header {
	float: left;
	padding: 15px 0 0 20px;
	text-decoration: none;
}
	#logo-header:hover {
		color: #0b76a6;
	}
	
	#logo-header .site-name {
		display: block;
		font-weight: 700;
		font-size: 1.2em;
	}
	
	#logo-header .site-desc {
		display: block;
		font-weight: 300;
		font-size: 0.8em;
		color: #999;
	}
	/*
 * Navegación
 */
nav {
	float: right;
}
	nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
		padding-right: 20px;
	}
	
		nav ul li {
			display: inline-block;
			line-height: 80px;
		}
			
			nav ul li a {
				display: block;
				padding: 0 10px;
				text-decoration: none;
			}
			
				nav ul li a:hover {
					background: #0b76a6;
				}
	
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .form-register {
    width: 400px;
    background: #000;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    border: 5px solid #000e3a;
    font-family: 'calibri';
    color: white;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  }
  
  .form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  .controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
  }
  
  .form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  
  .form-register a {
    color: white;
    text-decoration: none;
  }
  
  .form-register a:hover {
    color: white;
    text-decoration: underline;
  }
  
  .form-register .botons {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }
input[type="submit"]:hover {
	background-color: #0b76a6 
}
#main-footer{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 20px;
	background-color: #000;
	color: #fff;
	text-align: center;
	padding: 20px;
	margin-top: 40px;
	height: 100px;
	
}
main footer p{
	margin: 0%;
}
main footer a{
	color: #fff;
}